.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  color: #FFF
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.waveBtns {
  display: flex;
  justify-content: space-between;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  outline: none;
  width: 100%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #FFFFFF;
  background-color: rgb(37, 37, 37);
  height: 50px;
  font-size: 18px;
}

.messageBox {
  background: #3f4344;
  animation: gradientBG 15s ease infinite;
  color: #FFFFFF;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.wave-error {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}


.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.linkedin-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.footer-text {
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}